include ../like-button/like-button.pug

mixin review(options = {})
  - const { nameOfFile = 'file name', name = 'Иван Иванов', date = '3 дня назад', numberOfLikes = '0', textOfReview = 'Комментарий' } = options;
  
  .review.js-review
    .review__part1
      img.review__image(src=require(`../../../src/components/review/${nameOfFile}.png`).default, alt=`${name}`)
      .review__description
        h3.review__name= name
        p.review__date= date
    .review__part2
      .review__like-button.js-review__like-button
        +like-button({numberOfLikes: numberOfLikes, name: '' })
      p.review__text= textOfReview