include ../like-button/like-button.pug

mixin review(options = {})
  - 
    const { 
    nameOfFile = 'file name', 
    title = 'Иван Иванов', 
    date = '3 дня назад', 
    numberOfLikes = '0', 
    textOfReview = 'Комментарий' 
    } = options;
  
  .review.js-review
    .review__author
      img.review__image(
        src=require(`../../../src/components/review/${nameOfFile}.jpg`).default,
        alt=`${title}`
      )
      .review__description
        h3.review__name= title
        p.review__date= date
    .review__content
      .review__like-button.js-review__like-button
        +like-button({ numberOfLikes })
      p.review__text= textOfReview