mixin radio-buttons(options = {})
  - const { title = 'title', name = 'gender', list = [{text: 'Мужчина', checked: true}, {text: 'Женщина', checked: false}], required } = options
  
  .radio-buttons
    if title
      h3.radio-buttons__name= title
    .radio-buttons__group
      each nameOfButton in list
        - const { text, checked } = nameOfButton
        .radio-buttons__item
          label.radio-buttons__label  
            input.radio-buttons__input(type='radio', name=name, value=text, checked=checked, required=required)
            span.radio-buttons__content= text
