//- modifiers for buttons (types of buttons in project):
//-     btn_color_gradient
//-     btn_with-border
//-     btn_color_violent
//-     btn_color_black
//-     btn_size_long
//- Buttons for header (smaller):
//-     small-btn_color_gradient
//-     small-btn_with_border

mixin btn(options)
    - const {modifier, text, type, name} = options

    case modifier
      when "btn_with-border"
        .btn_with-border
            button(type = type).btn.btn__text #{text}
      when "btn_size_long"
        button(type = type).btn.btn_size_long #{text} <span class='btn__arrow'></span>
      when "small-btn_color_gradient"
        button(type = type).btn.btn_color_gradient.btn_color_size_small #{text}
      when "small-btn_with_border"
        .btn_with-border.btn_size_low
            button(type = type).btn.btn__text.btn__text_header #{text}
      when "btn_color_violent"
        button(type = type class = "btn" class = "btn_color_violent" name = name) #{text}
      when "btn_color_black"
        button(type = type class = "btn" class = "btn_color_black" name = name) #{text}