mixin button(options)
  - const {style, size, color, text, type, name} = options

  case style
    when "bordered"
      case size 
        when "small"
          button(type = type).button.button_bordered.button_size_small #{text}
        when "big"
          button(type = type).button.button_bordered.button_size_big #{text}  
    when "directed"
      case size 
        when "small"
          button(type = type).button.button_directed.button_size_small #{text}
        when "big"
          button(type = type).button.button_directed.button_size_big #{text}
    when "solid"
      case size 
        when "small"
          button(type = type).button.button_solid.button_size_small #{text}
        when "big"
          button(type = type).button.button_solid.button_size_big #{text}
    when "texted"
      case color 
        when "violent"
          button(type = type name = name).button.button_texted.button_color_violent #{text}
        when "black"
          button(type = type name = name).button.button_texted.button_color_black #{text}