mixin type-block(options = {})
  - const { title = 'H1', text = 'Description' } = options
  
  .type-block
    case title 
      when 'H1'
        p.type-block__name.type-block__name_text-type_widget-title= title
        p.type-block__description.type-block__description_text-type_widget-title= text
      when 'H2'
        p.type-block__name.type-block__name_text-type_item-title= title
        p.type-block__description.type-block__description_text-type_item-title= text
      when 'H3'
        p.type-block__name.type-block__name_text-type_label= title
        p.type-block__description.type-block__description_text-type_label= text
      when 'Body'
        p.type-block__name.type-block__name_text-type_paragraph= title
        p.type-block__description.type-block__description_text-type_paragraph= text

