mixin counter(options = {})
  - const { sign = 'взрослые', name = 'adults', declination = 'взрослый, взрослых, взрослых', defaultValue = 0, isSeparated = false } = options
  
  .counter.js-counter
    p.counter__name= sign
    .counter__enter.js-counter__enter
      button(type='button' data-operator='minus').counter__decrement.js-counter__decrement -
      input(name=name type='text' value=defaultValue data-declination=declination data-separated=isSeparated readonly).counter__value.js-counter__value
      button(type='button' data-operator='plus').counter__increment.js-counter__increment +
