//- Modificators for buttons (types of buttons in project):
//-     btn_gradient
//-     btn_border
//-     btn_iconLinkViolent
//-     btn_iconLinkBlack
//-     btn_longWithArrow
//- Buttons for header (smaller):
//-     btn_gradientHeader
//-     btn_borderHeader


mixin btn(options)
    -   
        var modificator = options.modificator
        var text = options.text

    if modificator == "btn_border"
        .btn_border
            button.btn.btn__text #{text}    
    else if modificator == "btn_longWithArrow"
        button.btn.btn_longWithArrow #{text} <span class='btn__arrow'></span>
    else if modificator == "btn_gradientHeader"
        button.btn.btn_gradient.btn_gradientHeader #{text}
    else if modificator == "btn_borderHeader"
        .btn_border.btn_borderHeader
            button.btn.btn__text.btn__text_header #{text}    
    else
        button(class = "btn" class = modificator) #{text}