mixin type-block(options)
    - const {name, text} = options

    .type-block.types__item
        case name 
            when "H1"
                p.type-block__name.type-block__name_fsize_24= name
                p.type-block__description.type-block__description_h1= text
            when "H2"
                p.type-block__name.type-block__name_fsize_19= name
                p.type-block__description.type-block__description_h2= text
            when "H3"
                p.type-block__name.type-block__name_fsize_12= name
                p.type-block__description.type-block__description_h3= text
            when "Body"
                p.type-block__name.type-block__name_line-height_24= name
                p.type-block__description.type-block__description_font-body= text
    
