include ../rate-button/rate-button.pug

mixin room(options = {})
  - const { addressOfRoom = 'room1', numberOfImage = ["image11", "image12", "image13", "image14"], roomNumber = '888', lux = false, price = '1 990₽', rate = '5', numberOfReviews = '100' } = options
  
  .room
    .room__card.js-room__card
      each image in numberOfImage
        img(src=require(`../../components/room/${addressOfRoom}/${image}.png`).default, alt=`Room number ${roomNumber}`).room__photo
    .room__room-description
      .room__room-block
        h1.room__room-number <span>№</span> #{roomNumber}
        if lux
          h3.room__room-type Люкс
      h3.room__price #{price} <span>в сутки</span>
    .room__line
    .room__rate
      .room__rate-button
        +rate-button({value: rate, name: ''})
      .room__review #{numberOfReviews} <span>Отзывов</span>