//- 
    options.name - title of buttons list
    options.expandable - if list is expandable
    options.richCheckbox - if list is rich checkbox buttons
    options.list[0...i] - name of buttons
    
mixin checkbox-button(options)
  - const {name, expandable, richCheckbox, list, forLabel} = options
  .checkbox-button.js-checkbox-button
    if options.expandable
      .checkbox-button__expandableName.js-checkbox-button__expandableName
        .checkbox-button__title= options.name
        span.checkbox-button__checkmark.js-checkbox-button__checkmark expand_more
      form.checkbox-button__expandableForm.js-checkbox-button__expandableForm(name="checkbox-button" method="get")
        each nameOfButton in options.list
          .checkbox-button__item
            label.checkbox-button__label
              input.checkbox-button__input(type="checkbox")
              span.checkbox-button__indicator
              span.checkbox-button__text= nameOfButton
    else
      .checkbox-button__name
        .checkbox-button__title= options.name
      if options.richCheckbox
        form.checkbox-button__form(name="richCheckbox-button" method="get")
          each nameOfButton in options.list
            .checkbox-button__item
              label.checkbox-button__label
                input.checkbox-button__input(type="checkbox")
                span.checkbox-button__indicator
                span.checkbox-button__text.checkbox-button__text_rich= nameOfButton
                span.checkbox-button__sublabel= options.sublist[options.list.indexOf(nameOfButton)]
      else
        form.checkbox-button__form(name="checkbox-button" method="get")
          each nameOfButton in options.list
            .checkbox-button__item
              label.checkbox-button__label
                input.checkbox-button__input(type="checkbox")
                span.checkbox-button__indicator
                span.checkbox-button__text= nameOfButton