include ../../arrow/arrow.pug
include ../../button/button.pug

mixin calendar()
  .calendar
    .calendar__row1
      +arrow({color: 'purple', direction: 'left'})
      .calendar__month Август 2019
      +arrow({color: 'purple', direction: 'right'})
    .calendar__row2
      .calendar__all-days
        .calendar__day-in-week Пн
        .calendar__day-in-week Вт
        .calendar__day-in-week Ср
        .calendar__day-in-week Чт
        .calendar__day-in-week Пт
        .calendar__day-in-week Сб
        .calendar__day-in-week Вс
      .calendar__numbers
        .calendar__number-line1
          .calendar__number 29
          .calendar__number 30
          .calendar__number 31
          - let n = 1;
          while n < 5
            .calendar__number= n++
        .calendar__number-line2
          while n < 12
            .calendar__number= n++
        .calendar__number-line3
          while n < 19
            .calendar__number= n++
        .calendar__number-line4
          while n < 26
            .calendar__number= n++
        .calendar__number-line5
          while n < 32
            .calendar__number= n++
          .calendar__number 1
    .calendar__row3
      .calendar__button-clear
        +button({assignment: 'button', style: 'texted', color: 'violent', text: 'Очистить'})
      .calendar__button-apply
        +button({assignment: 'button', style: 'texted', color: 'violent', text: 'Применить'})



